.home__wrapper {
    background-image: url("../../assets/images/jourdain-new-home.jpg");
    background-size:cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 61px;
}