.contact__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}