.shows__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
    background-image: url('../../assets/images/show-bg.png');
    background-position: center;
    background-size: cover;
    color: #fff;
}

.shows__details {
    width: 100%;
}

.shows__header, .shows__data-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shows__header span {
    text-decoration: underline;
}

.shows__dates, .shows__venue, .shows__city {
    display: flex;
    flex-direction: column;
}

.shows__city {
    text-align: right;
}

@media (min-width: 768px) {
    .shows__wrapper {
        padding: 150px 40px;
        background-position: right;
    }
    .shows__details {
        width: 80%;
    }

    .shows__header, .shows__data-wrapper {
        display: grid;
        grid-template-columns: 15% 31% 21%;
    }

    .shows__city-header{
        text-align: right;
    }

    span {
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    span {
        font-size: 20px;
    }

    .shows__details {
        width: 90%;
    }
  }